@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00000000;
    color: white;
    z-index: 1000;
    width: 100%;
}

header .logo {
    font-size: 24px;
    line-height: 80%;
}

header .logo .logo-foot {
    font-size: 25px;
}

header nav {
    position: relative;
}

header nav .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

header nav .menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul.showing {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1); /* Light translucent background */
    backdrop-filter: blur(5px); /* Blur effect */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header nav ul li {
    margin-left: 0px;
    position: relative;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

header nav ul li a:hover {
    color: #ccc;
}

header nav ul .dropdown-content {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.1); /* Light translucent background */
    backdrop-filter: blur(10px); /* Blur effect */
    top: calc(100% + 5px);
    left: 0;
    min-width: 160px;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    overflow: hidden;
}

header nav ul .dropdown-content.show {
    display: block;
}

header nav ul .dropdown-content li {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header nav ul .dropdown-content li:last-child {
    border-bottom: none;
}

header nav ul .dropdown-content li a {
    color: white;
    display: block;
    transition: background-color 0.3s;
}

header nav ul .dropdown-content li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

header nav ul .dropdown:hover .dropdown-content {
    display: block;
}

.showcase {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url('https://traversymedia.com/downloads/cover.jpg') no-repeat center center/cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: brightness(50%);
}

.video-container:after {
    content: '';
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.content {
    z-index: 0;
    padding: 20px;
    text-align: left;
}

.content h1 {
    font-weight: 300;
    font-size: 9vw;
    margin: 0;
}

.content .statement h3 {
    font-size: 2vw;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;
    opacity: 0.7;
    transition: transform 0.3s;
    text-decoration: none;
    font-size: 1.2rem;
}

.btn:hover {
    transform: scale(0.98);
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    header nav ul.showing {
        display: flex;
    }

    header nav .menu-toggle {
        display: flex;
    }

    header nav ul li {
        margin: 0;
        text-align: center;
    }

    header nav ul li a {
        padding: 10px;
        display: block;
    }

    .content h1 {
        font-size: 10vw;
    }

    .content .statement h3 {
        font-size: 4vw;
    }
}

.statement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.about {
    padding: 50px 20px;
    color: #fff;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 1) 100%
    ), 
      url(
berkshireimg.jpg) no-repeat center center/cover;

}

.about .about-container {
    display: flex;
    margin:  0 px;
    gap: 50px;
    align-items: center;
    margin: 40px;
}


.about h1 {
    font-size: 12vw;
    margin-bottom: 20px;
    text-align: center;
}

.about p {
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: justify;
}

@media (max-width: 768px) {
    .about h1 {
        font-size: 5rem;
    }

    .about p {
        font-size: 1.2rem;
    }
}
.plaza {
    width: 30vw;
    height: 100%;
    border-radius: 20px;
}
.plaza:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

@media (max-width: 768px) {
    .about .about-container {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin: 0px auto;
    }
    .plaza{
        width: 60vw;
    }
    
}
.word-border {
    border: 1px solid #fff;
    width: 100%;
    padding: 5px 8px;
    border-radius: 5px;
}
.companies {
    color: rgb(215, 215, 215);
    font-size: 110%;
}
.geico {
    width: 40vw;
}

.geico:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
    .geico {
        width: 60vw;
    }
    
}
.geico-ad {
    padding: 50px 20px;
    color: #fff;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 1) 100%
    ), 
      url(
"https://assets-global.website-files.com/5d7e8885cad5174a2fcb98d7/60ec64d2573f502c814ce1fa_resized.jpg") no-repeat center center/cover;

}

.geico-ad .geico-ad-container {
    display: flex;
    margin:  0 px;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 40px;
}


.geico-ad h1 {
    font-size: 12vw;
    margin-bottom: 20px;
    text-align: center;
}

.geico-ad p {
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: justify;
}

.footer-distributed{
	background: #000000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 1.8vw sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	margin: 0;
}

.footer-distributed h3 span{
	color:  rgb(142, 142, 142);
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.4;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #d9d9d9;
	font-size: 0.8vw;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
    font-size: 1.2vw;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(255, 255, 255);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #dfdfdf;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 4vw sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

    .footer-distributed .footer-center {
        font-size: 3vw;
    
    }
}
.text-white{
    color: white;
}